.navigation {
    position: absolute;
    top: 3rem;
    right: 2rem;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {}

    &__link {

        &:link,
        &visited {
            display: inline-block;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 1.4px;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            background-color: $color-orange;
            border-radius: 100px;
            box-shadow: 0 1rem 4rem rgba($color-black, 0.1);
        }
    }
}